    * {
      box-sizing: border-box;
      font-family: Arial, sans-serif;
      margin: 0;
    }
    .container{
      max-width: 600px;
      margin: 0 auto;
    }
    .search-box{
      position: sticky;
      top: 5px;
      max-width: 600px;
      height: 60px;
    }
    .lead-track{
      font-weight: 700;
    }
    .matching-track {
      font-weight: bold;
    }
    .artwork{
      width: 100%;
      height: auto;
      max-width: 600px;
      max-height: 600px;
      margin-top: 10px;
    }
    #myInput, #searchInput {
      background-position: 10px 12px;
      background-repeat: no-repeat;
      width: 100%;
      font-size: 16px;
      padding: 12px 12px;
      border: 1px solid #ddd;
      margin-bottom: 12px;
    }

    #myUL, #trackList {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    #myUL li a, #trackList li {
      border: 1px solid #ddd;
      margin-top: -1px;
      padding: 12px;
      /* Prevent double borders */
      background-color: #f7f7f7;
      text-decoration: none;
      font-size: 18px;
      color: black;
      display: block
    }

    #myUL li a:hover:not(.header), #trackList li a:hover:not(.header) {
      background-color: #f7f7f7;
    }